.button-box {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px;
    background-color: #006EFA;
    gap: 8px;
    border-radius: 4px;
    width: 126px;
    height: 36px;
    color: white;
    font-size: 14px;
    white-space: nowrap;
}