.search-box {
    padding-bottom: 1px;
    padding-top: 1px;
    border: 1px solid black;
    background-color: white;
    gap: 8px;
    border-radius: 6px;
    width: 360px;
    height: 36px;
    color: black;
    font-size: 14px;
}