.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Dark semi-transparent background */
  z-index: 1000; /* Ensure it's above other content */
}

/* Styles for the modal content (the dialog box itself) */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%); /* Centers the modal */
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  z-index: 1001; /* Ensure it's above the overlay */
}

.add-contact-card {
    color: black;
    display: flex;
    justify-content: space-between;
}

.close-contact-card {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 15px;
}

.form-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 24px;
}

.form-fields {
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
  color: rgba(100, 116, 139, 1);
  font-weight:normal;
  border-radius: 1px;
}

.form-field input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
