#root {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  background-color: aliceblue;
}

.search-add {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 8px;
  margin-bottom: 14px;
}

#head {
  color: black;
  margin-bottom: 0px;
}

h2 {
  text-align: left;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.ofbusiness {
  background-image: linear-gradient(to left,#07CDBE, #006EFA);
  padding: 14px, 120px, 14px, 120px;
  margin: 0 auto;
}

/* .home {
  background-color: white;
  height: 733px;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.full-size {
  height: 649px;
  width: 1040px;
  margin: 0 auto;
}

/* .full-size {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
} */

header {
  width: 100vw;
}

/* .header {
  width: 100vw;
  background: linear-gradient(90deg, #0072ff, #00c6a7);
} */
