#root {
  /* max-width: 100%; */
  /* margin: 24px auto; */
  /* padding: 2rem; */
  margin: 0;
  text-align: center;
}

.search-add {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 8px;
  margin-bottom: 14px;
}

#head {
  color: black;
}

h2 {
  text-align: left;
  padding: 14px, 120px, 14px, 120px;
}

.ofbusiness {
  background-image: linear-gradient(to left,#07CDBE, #006EFA);
  /* padding: 14px, 120px, 14px, 120px;
  margin: 0; */
}

/* .home {
  background-color: white;
  height: 733px;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.full-size {
  height: 649px;
  width: 1040px;
}

header {
  margin: 0%;
}
